@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #121212;
  font-size: 0.9rem;
}
a {
  color: black;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
img {
  max-width: 100%;
}
.top-image {
  width: 100vw;
  height: 130vh;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin: 20px 0 0 0;
  color: black;
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid rgb(241, 241, 241);
}

#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 30px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.current_user{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
#navi a {
  color: #fff;
}
.open #navi {
  left: 0;
  opacity: 1;
}
#navi ul {
  margin: 0;
  padding: 0;
}
#navi ul.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}
#navi ul.nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}
#navi ul.nav-info li {
  padding: 5px 0;
}
.toggle_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
  background-color: rgb(224, 154, 24);
}
.toggle_btn span:nth-child(2) {
  top: 14px;
  background-color: rgb(99, 68, 68);
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
  background-color: rgb(224, 154, 24);
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/*-------------------------------------------
Main
-------------------------------------------*/
#main {
  padding-top: 80px;
}

/*-------------------------------------------
News
-------------------------------------------*/
.news-title{
  font-size: 2.25rem;
  margin-top: 150px;
  text-align: center;
}
#news {
  width: 100%;
  padding: 100px 0 50px 0;
}
#news .slick-area {
  font-size: 0;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  text-align: center;
}
#news .slick-area li {
  padding: 0 30px;
  display: inline-block;
}
#news .slick-area li.news-text{
  font-size: 30px;
}


/*-------------------------------------------
All snap
-------------------------------------------*/
.all-snap-title{
  font-size: 2.25rem;
  margin-bottom: 100px;
  margin-top: 150px;
  text-align: center;
}
#all-snap {
  width: 80vw;
  margin: auto;
  padding: 90px 0px 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
#all-snap .snap {
  transition: all  0.3s ease;
  vertical-align: top;
  box-shadow: 0 0 8px 4px #ccc;
  margin: 7px;
  width: 450px;
}
.post-header{
  display: flex;
  height: 50px;
  font-size: 15px;
  padding-left: 2px;
}
.syncer-acdn{
  margin-top: 10px;
  margin-left: 270px;
}
.icon-index-image{
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 10px;
}
.user_show-image{
  object-fit: cover;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.header-user-name{
  margin-top: 14px;
  font-size: 20px;
}
.snap-image {
  vertical-align: top;
  width: 450px;
  height: 250px;
}
#all-snap .snap-content {
  padding: 7px;
  height: 17vh;
}
.display-form{
  display: flex;
  height: 10vh;
}
#all-snap .user-name{
  font-family: 'Times New Roman', Times, serif;
  height: 20px;
  font-size: 20px;
}
#all-snap .snap-text {
  font-weight: normal;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
  word-wrap: break-word;
  width: 14vw;
  overflow: scroll;
}
#all-snap .snap-date {
  font-size: 0.75rem;
  margin-top: 10px;
  text-align-last: left;
}

/*-------------------------------------------
All snap(model)
-------------------------------------------*/
#all-snap {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}
#all-snap .grid-model {
  width: 80vw;
  margin: auto;
  padding: 90px 0px 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
#all-snap .grid-model .snap-model {
  transition: all  0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
  width: 450px;
  margin: 7px;
}
#all-snap .grid-model img {
  vertical-align: top;
  width: 100vw;
  height: 30vh;
}
#all-snap .grid-model .snap-content-model {
  padding: 30px;
}
#all-snap .grid-model .snap-cat-model {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
#all-snap .grid-model .snap-text-model {
  font-weight: bold;
  margin-bottom: 20px;
}
#all-snap .grid-model .snap-date-model {
  font-size: 0.75rem;
  text-align: right;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    padding: 20px 16px;
  }
  .toggle_btn {
    right: 20px;
  }

  /*-------------------------------------------
  News
  -------------------------------------------*/
  #news {
    padding: 80px 0;
  }
  #news .slick-area li {
    padding: 0 20px;
  }

  /*-------------------------------------------
  All-snap
  -------------------------------------------*/
  #all-snap {
    padding: 80px 16px;
  }
  #all-snap .grid .item-content {
    padding: 16px;
  }
}