// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;

  .post_list{
    height: 100vh;
    width: 100vw;
  }
  
  .main_header {
    background-color: black;
    height: 12vh;
    width: 100vw;
    .header_container {
      background-color: black;
      .header_layout{
        display: flex;
        background-color: black;
        .header_layout-left{
          display: flex;
          height: 12vh;
          .motorfan{
            text-align: center;
            color: #fff;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            margin: 20px 0 35px 60px;
          }
        }
        .header_layout-right{
          display: flex;
          align-items: center;
          font-family: 'Times New Roman', Times, serif;
          margin-left: auto;
          height: 12vh;
          .sign_in{
            color: #fff;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
          }
          .sign_up{
            color: #fff;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin: 0 60px 0 0 ;
          }
          .user_name{
            color: #fff;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
          }
          .logout{
            color: #fff;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin: 0 60px 0 0 ;
          }
        }
      }
    }
  }
}

