-# %p.menubtn
-#   %span
-#     = image_tag 'leadericon.jpeg'
-#     %nav
-#       %ul
-#         %li
-#           = link_to "通報する", "#", class: "report"
-#         %li
-#           = link_to "編集", edit_machine_path(@machines.ids), class: "machine-edit"
-#         %li
-#           = link_to "削除", machine_path(@machines.ids), method: :delete, class: "delete"
        