.car-category-contents
  .car-category-header
    .machines_path-text
      = link_to "×", machines_path, :class => "top"
    %h1.header-title
      CAR
  .car-snap 
    - @machine.each do |machine|
      %li
        = link_to car_show_machines_path do
          .snap
            = image_tag machine.image, height: "200px"